name: Compile iOS dylib

on: [push]

jobs:
  build:
    runs-on: macos-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Compile with Xcode
      run: |
        xcrun -sdk iphoneos clang -arch arm64 -fobjc-arc -dynamiclib \
          -framework UIKit \
          -framework Foundation \
          -framework CoreGraphics \
          -isysroot $(xcrun -sdk iphoneos --show-sdk-path) \
          main.m \
          -o standoff2_cheat.dylib
    
    - name: Upload dylib
      uses: actions/upload-artifact@v4
      with:
        name: standoff2_cheat.dylib
        path: standoff2_cheat.dylib
